header {
	background: yellowgreen;
	width: 400px;
	height: 100px;
}

nav {
	border: 1px solid red;
}

article {
	background: #ccc;
	margin: 10px;
	padding: 10px;
}

section {
	border: 1px dotted #fff;
}

time {
	font-weight: bold;
}

footer {
	background: gray;
}